name: build-test-package-poi
on:
  push:
    branches: [ master ]
    paths: apis/poi/**
  pull_request:
    branches: [ master ]
    paths: apis/poi/**
  workflow_dispatch:
env:
  SOLUTIONPATH: ./apis/poi/

jobs:
  build:
    
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.301
    - name: Install dependencies
      run: dotnet restore $SOLUTIONPATH
    - name: Build
      run: dotnet build $SOLUTIONPATH --configuration Release --no-restore
    - name: Test
      run: dotnet test $SOLUTIONPATH --no-restore --verbosity normal
